.editContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editForm {
    background-color: orange;
    width: 700px;
    height: fit-content;
    padding: 3rem;
    padding-right: 2rem;
    padding-left: 2rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}


.editForm {
    font-size: 18px;
    font-weight: bolder;
}

.editHeader {
    display: flex;
    justify-content: space-between;
}


.editInputs>div {
    display: flex;
    flex-direction: column;
}

.editInputs>div>input {
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 1.2rem;
    font-size: 20px;
}

/* change the buttons */

.changeButtons {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 2rem;
    gap: 1rem;
}


.editForm label {
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}

.changeButtons button {
    border-radius: 20px;
    outline: none;
    border: none;
    text-align: center;
    padding: 1rem;
}