.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    align-items: center;
    padding: 1rem 4rem 1rem;
    background: black;
}

.logo {
    display: flex;
    align-items: center;
}


.headerbutton {
    display: flex;
    border-radius: 20px;
    width: 150px;
    text-align: center;
    height: fit-content;
    justify-content: center;
    font-weight: 700;
    background: var(--orange400);
}